.bt{
   margin-top: 25%;
   max-width: 1250px;
   display: inline;
}

.body h1{
   font-size: 47px;
   width: 100%;
   height: 58px;
}

*{
   overflow: hidden;
}

.body{
   height: 100%;
   width: 100%;
}

nav a{
   margin-right: 30px;
   margin-left: 30px;
}

.body p{
   font-size: smaller;
   font-family: arial,sans-serif;
}

.bt button{
   font-size: 14px;
   display: inline;
   max-width: 145px;
   width: 80%;
   height: 30px;
   text-align: center;
   align-items: center;
   margin-left: 3%;
   margin-right: 3%;
   border-radius: 3px;
   border-style: solid;
}

input{
   width: 90%;
   height: 25px;
   max-width: 1100px;
   max-height: 350px;
   border-radius: 27px;
   border-style: solid;
   border-width: 1.5px;
   padding-left: 5%;
   padding-right: 5%;
   margin-bottom: 6%;
}